/* Styles for the menu section */
.menu {
	background-color: #f8f9fa; /* Light gray background */
	padding: 20px 0; /* Add padding top and bottom */
}

/* Styles for the inner page section */
.inner-page {
	padding: 50px 0; /* Add padding top and bottom */
}

/* Styles for the sidebar */
.sidebar {
	background-color: #ffffff; /* White background */
	border-radius: 10px; /* Rounded corners */
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Drop shadow */
	padding: 20px; /* Add padding */
}

/* Styles for the cards */
.card {
	background-color: #ffffff; /* White background */
	border-radius: 10px; /* Rounded corners */
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Drop shadow */
	margin-bottom: 20px; /* Add margin bottom */
	padding: 20px; /* Add padding */
}

/* Additional custom styling */
/* Add your custom styles here */

/* Styles for mobile navbar toggle icon */
.mobile-nav-toggle {
	cursor: pointer; /* Change cursor to pointer on hover */
}

/* Styles for navbar links */
#navbar ul {
	list-style: none; /* Remove default list styles */
	padding-left: 0; /* Remove default padding */
}

#navbar ul li {
	/*display: inline-block; !* Display list items horizontally *!*/
	margin-right: 20px; /* Add margin between list items */
}

#navbar ul li a {
	color: #333333; /* Dark text color */
	text-decoration: none; /* Remove underline */
	transition: color 0.3s ease; /* Smooth color transition on hover */
}

#navbar ul li a:hover {
	color: #007bff; /* Change text color on hover */
}






.gvjHmb {
	padding: 40px 48px;
	background-color: rgb(255, 255, 255);
}

.kIUFUD {
    margin-left: auto;
	margin-right: auto;
	max-width: 1280px;
	width: 100%;
	border-top: medium;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -16px;
	margin-right: -16px;
}

.col-lg-3 {
	flex: 0 0 25%;
	max-width: 25%;
}

.private-breadcrumbs--no-wrap {
	white-space: nowrap;
}

.private-breadcrumbs--flush {
	padding-left: 0;
	padding-right: 0;
}




.codefotech_color {
	color: #fff !important;
	border: 1px solid #1e81bb !important;
	background: #1e81bb !important;
}

.codefotech_text_color {
	color: #1e81bb !important;
}


.btn-outline-codefotech {
	color: #1e81bb !important;
	border-color: #1e81bb !important;
}

.btn-outline-codefotech:hover {
	color: #fff !important;
	background-color: #1e81bb !important;
	border-color: #1e81bb !important;
}
